/* My color pallete */
colorpallete {
    color: #e8ded2;
    color: #a3d2ca;
    color: #5eaaa8;
    color: #056676;
}
a {
    color: inherit;
}
body {
    margin: 0;
    text-align: center;
    font-family: arial, sans-serif;
    font-family: "Montserrat", arial, sans-serif;
    color: #00416d;
}
h1 {
    margin: 50px auto 0;
    font-family: "Sacramento", arial, sans-serif;
    font-size: min(15vw, 180px);
    font-weight: normal;
    line-height: 2;
}
h2 {
    color: inherit;
}
h3 {
    color: inherit;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 5%;
}
span {
    text-decoration: underline;
}
.bottom-cloud {
    position: absolute;
    left: 20%;
    bottom: 50%;
}
.bottom-container {
    background-color: #66BFBF;
    padding: 5%;
    position: relative;
}
.btn {
  background: #11cdd4;
  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: Arial;
  color: #00416d;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.code-img {
    width: 100%;
    max-width: 150px;
    float: right;
    margin-left: 30px;
}
.contact-me {
    margin: 10% auto 0;
    line-height: 2;
    width: 63%;
}
.contact-para {
    width: 100%;
    max-width: 400px;
    margin: 5% auto;
}
.copyright {
    color: inherit;
    margin: 0;
    padding-top: 3rem;
}
.desc {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
}
.design-img{
    width: 100%;
    max-width: 150px;
    float: left;
    margin-right: 30px;
}
.footer-link {
    font-size: inherit;
    margin: 0 20px;
}
.middle-container {
    background-color: #f1f3f8;
    position: relative;
    padding: 10%;
}
.mountain {
    width: 100%;
    max-width: 1000px;
}
.my-img {
    width: 100%;
    max-width: 200px;
}
.profile {
    line-height: 2;
    width: 63%;
    margin: 0 auto 10%;
}
.profile-desc {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.skills {
    width: 63%;
    margin: 10% auto;
    text-align: center;
    line-height: 2;
}
.skill-row {
    margin: 100px 0;
    text-align: left;
    line-height: 2;
}
.skill-row-2 {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.top-cloud {
    position: absolute;
    right: 20%;
    top: 5%;
    height: min(150px,30vw);
}
.top-container {
    background-color: #a2d5f2;
    padding-top: 100px;
    position: relative;
}
